@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ece8e1;
  overflow-x: hidden !important;
}

p,
a {
  letter-spacing: 1.5px;
}

/* ABOUT SECTION */
.gameplay-vid::before {
  content: "GAMEPLAY";
  position: absolute;
  width: fit-content;
  background-color: #ff4655;
  color: #ece8e1;
  letter-spacing: 1.5px;
  font-weight: 900;
  padding: 0.5rem 1rem;
  top: 1.5rem;
  left: -1rem;
  z-index: 10;
}

.gameplay-vid::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #ff4655;
  color: #ece8e1;
  letter-spacing: 1.5px;
  font-weight: 900;
  bottom: -0.6rem;
  right: 0;
  z-index: 10;
}

/* AGENT PAGE */
.agent-vid::before {
  content: "GAMEPLAY";
  position: absolute;
  width: fit-content;
  background-color: #ff4655;
  color: #ece8e1;
  letter-spacing: 1.5px;
  font-weight: 900;
  padding: 0.5rem 1rem;
  bottom: 1.5rem;
  left: -1rem;
  z-index: 10;
}

.agent-vid::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #ff4655;
  color: #ece8e1;
  letter-spacing: 1.5px;
  font-weight: 900;
  bottom: -0.6rem;
  right: 0;
  z-index: 10;
}

@media screen and (max-width: 680px) {
  .gameplay-vid::before {
    font-size: 0.5rem;
    padding: 0.5rem 0.5rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.agent-page {
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  -webkit-animation: gradient 20s ease infinite;
}
